flows.json
[
    {
        "id": "8b290e148a4c5352",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5894bf8b2662a4d5",
        "type": "inject",
        "z": "8b290e148a4c5352",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "g9",
                "v": "Saludos grupo 9",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "0be6a572630ba456",
                "7b33aeab34652af7"
            ]
        ]
    },
    {
        "id": "e2092c712fa1e22a",
        "type": "debug",
        "z": "8b290e148a4c5352",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "g9",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 280,
        "wires": []
    },
    {
        "id": "0be6a572630ba456",
        "type": "function",
        "z": "8b290e148a4c5352",
        "name": "",
        "func": "\n// Lo que está después de “//” son comentarios\n// Crea un objeto Date a partir del payload enviado por timestamp\nvar date = new Date(msg.payload);\n// Cambia el payload para que sea una fecha con formato\nmsg.payload = date.toString();\n// Regresa el mensaje para que se envíe al sigueinte nodo\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 120,
        "wires": [
            [
                "e2092c712fa1e22a",
                "7dc259c623a43897",
                "b57f0472bcfac7bd"
            ]
        ]
    },
    {
        "id": "7dc259c623a43897",
        "type": "ui_text",
        "z": "8b290e148a4c5352",
        "group": "42e98907b7c29293",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Fecha - Label",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 740,
        "y": 120,
        "wires": []
    },
    {
        "id": "7b33aeab34652af7",
        "type": "debug",
        "z": "8b290e148a4c5352",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 390,
        "y": 220,
        "wires": []
    },
    {
        "id": "b57f0472bcfac7bd",
        "type": "debug",
        "z": "8b290e148a4c5352",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 200,
        "wires": []
    },
    {
        "id": "42e98907b7c29293",
        "type": "ui_group",
        "name": "Fecha actual - Grupo",
        "tab": "a607642acfc0f331",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a607642acfc0f331",
        "type": "ui_tab",
        "name": "Flow2 - Fecha",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]